@tailwind base;
@tailwind components;
@tailwind utilities;


.about p {
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.8;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}

.model p {
    font-family: "Caveat", cursive;
}

.applyForm {
    background-color: #f1bb5665;
}